[submodule "public"]
	path = public
	url = https://github.com/lmwang9527/lmwang9527.github.io.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
